@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="mt-4">
                <CreateNewsletterSubscriberForm />
            </div>
            
            <div class="mt-4">
                <h3>Email list</h3>
                <NewsletterSubscribersList />
            </div>
        </div>
    </div>
</div>
